body, html {
    height: 100%;
   	/* mijn aanpassingen*/
    margin: 0px;
}

.parallax {
    /* The image used */
    background-image: url('https://forums.unrealengine.com/attachment.php?attachmentid=104896&d=1470406352');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* mijn aanpassingen*/
    width: 100%;
    position: relative;
    /*margin-left: -10px;*/
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.positionDiv{
	display: table-cell;
 	vertical-align: middle;
  	text-align: center;
}

.headerDiv{
	height: 50px;
	width: 20%;
	padding: 10px;
	border-color: #000;
	border-style: solid;
	border-width: 3px;
	/*margin: auto;*/
	position: absolute;
  	top: 50%;
  	left: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.loadingDiv{
    width: 80%;
	height: 60%;
    font-size: 20px;
    text-align: center;
    left: 10%;
    top: 20%;
    font-family: 'Allerta', sans-serif;
    border-width: 3px;
    border-style: solid;
    border-color: #000;
    margin: auto;
    position: absolute;
    opacity:0;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: invisible;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    } 
    50% {
        opacity: 0.5;
        -webkit-transform: translateY(0%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    } 
    50% {
        opacity: 0.5;
        -webkit-transform: translateY(0%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.slideUp {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav#primary {
    z-index: 100;
    position: fixed;
    top: 50%;
    right: 16px;
    margin-top: -40px;
}
nav#primary li {
    position: relative;
    height: 20px;
}
nav#primary a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
    background: transparent url('../images/nav-dot.png') 4px -16px no-repeat;
}